.header {
  position: fixed;
  top: 2rem;
  left: 50%;
  width: 100%;
  max-width: 1200px;
  transform: translateX(-50%);
}

.header-inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 2rem;
}